﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Respuesta.aspx.cs" Inherits="SoftvWCFService.Respuesta" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
      <div>
               <asp:Label ID="ref_payco_lbl" runat="server" Text=""></asp:Label>
               <asp:Label ID="Clv_Factura" runat="server" Text=""></asp:Label>
               <asp:Label ID="Clv_Cliente" runat="server" Text=""></asp:Label>
             

        </div>
    </form>
</body>
</html>
